.card-product .card-body {
    border-radius: 4px;
    border: 1px solid #c1c1c1;
}

.card-product .card-body:hover{
    -webkit-box-shadow: 0 0 9px 5px rgba(165,165,165,0.93);
    box-shadow: 0 0 9px 5px rgba(165,165,165,0.93);
}
