{% extends "layout.html.twig" %}

{% block content %}
    <section class="content">

        {% if (affichcust == null) %}
            <p>le client n'existe pas</p>

        {% else %}

            {% include 'customer/customer-card.html.twig' with {
                id: affichcust.id,
                name: affichcust.name,
                phone: affichcust.phone,
                cin: affichcust.cin }
                only %}
            <ul>
                {% for credit in affichcust.credits %}
                    <li>Credits date: {{ credit.date|date('d/m/Y') }} - montant: {{ credit.montant }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </section>
{% endblock %}
