{% extends "layout.html.twig" %}

{% block content %}

    <div class="row mt-4 mb-4">
        <div class="col-12">
            <h1>Liste de produits</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class=" col-lg-12" >
            <a class="btn btn-primary float-right" data-toggle="collapse" href="#search-form" role="button" aria-expanded="false" aria-controls="search-form">
                + Filtre
            </a>

            <a class="btn btn-primary float-right mr-2" href="{{ path('product-add') }}">Ajouter un produit</a>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-12 collapse {% if showForm is same as true %} show {% endif %}" id="search-form">
            {{ form_start(form) }}
                {{ form_row(form.prix) }}

                <button type="submit" class="btn btn-outline-dark col-12 mb-2 mt-2 col-md-2">recherche</button>
            {{ form_end(form) }}
        </div>
    </div>


    <div class="row">
        {% for product in porducts %}
            {% include 'product/product-card.html.twig' with {
                id: product.id,
                label: product.label,
                prix: product.prix
            } only %}
        {% endfor %}
    </div>
{% endblock %}